# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
/app-back/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
/app-back/vendor/* linguist-vendored
/app-back/config/credentials/*.yml.enc diff=rails_credentials
/app-back/config/credentials.yml.enc diff=rails_credentials
